/* Icons */
@font-face {
  font-family: 'coastal-access';
  src:url('../icons/fonts/coastal-access.eot?-41ycoh');
  src:url('../icons/fonts/coastal-access.eot?#iefix-41ycoh') format('embedded-opentype'),
    url('../icons/fonts/coastal-access.woff?-41ycoh') format('woff'),
    url('../icons/fonts/coastal-access.ttf?-41ycoh') format('truetype'),
    url('../icons/fonts/coastal-access.svg?-41ycoh#coastal-access') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'coastal-access';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 32px !important;
  width: 32px;
  clear: right;
  float: left;
  margin: 1px 10px;
  color: #43A345;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.disabled {
  color: #E94D43;
}

.icon-fee:before {
  content: "\e600";
}
.icon-parking:before {
  content: "\e601";
}
.icon-disabled:before {
  content: "\e602";
}
.icon-visitor-center:before {
  content: "\e603";
}
.icon-restroom:before {
  content: "\e604";
}
.icon-fishing:before {
  content: "\e605";
}
.icon-boating:before {
  content: "\e606";
}

/*.icon-fee {
  content: " ";
  padding: 1px;
}
.icon-parking {
  content: " ";
  padding: 1px;
}
.icon-disabled {
  content: " ";
  padding: 1px;
}
.icon-visitor-center {
  content: " ";
  padding: 1px;
}
.icon-restroom {
  content: " ";
  padding: 1px;
}
.icon-fishing {
  content: " ";
  padding: 1px;
}
.icon-boating {
  content: " ";
  padding: 1px;
}*/



a { color: #4B58A6; }
a:hover { color: #4B58A6; }

#map_canvas img {
  max-width: none;
}

.filter-box { 
  height: 15px; 
  width: 15px;  
  display: inline-block;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box; 
}

.filter-yellow { background-color: #FBF358; }
.filter-green { background-color: #00E13C; }
.filter-blue { background-color: #5781FC; }
.filter-purple { background-color: #7C54FB; }
.filter-red { background-color: #FB6353; }

canvas {-ms-touch-action: double-tap-zoom;}

.item-list {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(137, 184, 255);
}

.alert-info {
  overflow-y: scroll;
  height: 470px;
}

.well{
  position: fixed;
  top: 0px;
  left: 100px;
  width: 400px;
}

.well h1 {
  font-family: 'Roboto Slab';
  font-weight: 300;
  margin-left: 20px;
  -webkit-margin-before: -8px;
}

.well h1 .light {
  font-weight: 100;
  margin-left: 120px;
}

.googft-info-window {
  min-height: 140px !important;
  display: block;
  margin: auto;
}