<div class="white-background">
  <h1 class="slab blue-text center-text medium">Hello there!</h1>

  <p class="intro-text center-text">To find coastal accessways while on the road, look for the <img src="images/Coastal-Access-Foot-Logo.png" alt="Coastal Access Logo" id="foot-logo" /> symbol (the Coastal Commission's coastal access logo) that marks many (but not all) coastal access points. The California Constitution guarantees the public's right of access to tidelands, that is the area seaward of the mean high tide line.  When visiting the coast, please observe any posted rules and please do not trespass on adjacent private lands. Always be alert for sleeper waves and other hazards; stay safe and enjoy the coast.</p>

  <p class="intro-text center-text">Location and attribute data are collected primarily from entries in the statewide <a href="http://www.ucpress.edu/book.php?isbn=9780520278172" target="_blank">California Coastal Access Guide: Seventh Edition</a> (2014), and the 4-book set of regional <a href="http://www.ucpress.edu/series.php?ser=ecc" target="_blank">Experience the California Coast</a> guides (2005, 2007, 2009, 2012), all published by the University of California Press.</p>

  <p class="intro-text center-text">Your<strong>Coast</strong> has been constructed and is maintained by the California Coastal Commission. The data is a publicly available open data set of all California Coastal Access locations and their respective attributes. California Coastal Commission staff have attempted to insure the accuracy of this information. The State of California and the California Coastal Commission, however, make no representations or warranties regarding the accuracy of this dataset. If you believe there is an error or omission, notify the California Coastal Commission at <a href="mailto:linda.lockline@coastal.ca.gov">linda.locklin@coastal.ca.gov</a> or in writing to:  Public Access Program, California Coastal Commission, 45 Fremont St, Suite 2000, San Francisco, CA 94105-2219.</p>

  <h2 class="blue-text slab no-border medium center-text">Thanks!</h2>

  <p class="center-text"><small></small></p>

  <h4 class="medium blue-text center-text no-padding">made with <i class="fa fa-heart"></i> by the <span class="medium"><a href="http://www.coastal.ca.gov" class="blue-text" target="_blank">California Coastal Commission</a></span></h4>
</div>
