<div class="row gutters">
  <div class="column-12">
    <div class="row overflow-visible">
      <h2 class="slab kilo medium center-text no-border mdc-text-light-blue-900 margin-bottom">
        <small>
          Share {{ map.selectedMarker.NameMobileWeb }}
        </small>
      </h2>
    </div> <!-- end .row -->

    <div class="row gutters">
      <div class="column-3">
        <a href="#" socialshare
                    socialshare-provider="facebook"
                    socialshare-text="{{ map.selectedMarker.NameMobileWeb }} #YourCoast"
                    socialshare-media="{{ map.selectedMarker.Photo_1 }}"
                    socialshare-url="www.coastal.ca.gov/yourcoast/#/map/location/id/{{ map.selectedMarker.ID }}">
          <button class="fab blue-background center margin-bottom">
            <i class="fa fa-facebook white-text"></i>
          </button>
        </a>
      </div> <!-- end .column-3 -->

      <div class="column-3">
        <a href="#" socialshare
                    socialshare-provider="google+"
                    socialshare-text="{{ map.selectedMarker.NameMobileWeb }} #YourCoast"
                    socialshare-media="{{ map.selectedMarker.Photo_1 }}"
                    socialshare-url="www.coastal.ca.gov/yourcoast/#/map/location/id/{{ map.selectedMarker.ID }}">
          <button class="fab mdc-bg-red-700 center margin-bottom">
            <i class="fa fa-google-plus white-text"></i>
          </button>
        </a>
      </div> <!-- end .column-3 -->

      <div class="column-3">
        <a href="#" socialshare
                    socialshare-provider="twitter"
                    socialshare-text="{{ map.selectedMarker.NameMobileWeb }} #YourCoast"
                    socialshare-media="{{ map.selectedMarker.Photo_1 }}"
                    socialshare-url="www.coastal.ca.gov/yourcoast/#/map/location/id/{{ map.selectedMarker.ID }}">
          <button class="fab mdc-bg-light-blue-A200 center margin-bottom">
            <i class="fa fa-twitter white-text"></i>
          </button>
        </a>
      </div> <!-- end .column-3 -->

      <div class="column-3">
        <a href="#" socialshare
                    socialshare-provider="pinterest"
                    socialshare-text="{{ map.selectedMarker.NameMobileWeb }} #YourCoast"
                    socialshare-media="{{ map.selectedMarker.Photo_1 }}"
                    socialshare-url="www.coastal.ca.gov/yourcoast/#/map/location/id/{{ map.selectedMarker.ID }}">
          <button class="fab mdc-bg-red-900 center margin-bottom">
            <i class="fa fa-pinterest white-text"></i>
          </button>
        </a>
      </div> <!-- end .column-3 -->
    </div> <!-- end .row -->
  </div> <!-- end .column-4 -->
</div> <!-- end .row -->
