<md-content layout="column" flex class="mdc-bg-blue-grey-100">
    <md-toolbar class="md-tall md-hue-2 md-whiteframe-2dp">
        <div flex flex-offset="25">
            <h1 class="md-toolbar-tools medium slab mdc-text-grey-100">
                <span class="light">Your<strong>Coast</strong></span>
            </h1>
        </div>
    </md-toolbar>

    <div layout="row" flex>
        <md-sidenav layout="column" flex="20" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
            <md-content layout-padding class="mdc-bg-blue-grey-100">
                <md-list class="mdc-bg-blue-grey-100">
                    <a ng-repeat="location in map.locationList | orderBy:'LIST_ORDER' | filter:search" ui-sref="map.location-id({ locationID: {{ location.ID }} })"
                    alt="{{ location.NameMobileWeb }}">
                        <md-list-item class="mdc-text-blue-700">
                            <p ng-bind-html='location.NameMobileWeb | trust'></p>
                        </md-list-item>

                        <md-divider></md-divider>
                    </a>
                </md-list>
            </md-content>
        </md-sidenav>

        <md-card layout="column" flex class="animated fadeInUp pull-up-50">
            <ui-gmap-google-map options='map.options.custom'
                                events='map.events'
                                center='map.options.center'
                                zoom='map.options.zoom'
                                draggable='true'
                                pan='true'
                                id='map_canvas'
                                ng-class="{ mapFifty: map.selectedMarker.show === true, fadeIn: map.fullyLoaded === true }"
                                class="fix-map-imgs animated">
				<ui-gmap-markers models="map.locations"
                                 idkey="'ID'"
                                 coords="'coords'"
                                 doCluster="true"
                                 clusterOptions="map.options.cluster"
                                 icon="'icon'"
                                 click="switchLocations(ID)">
				</ui-gmap-markers>
			</ui-gmap-google-map>

            <md-card-content ng-show='map.selectedMarker.show'>
                <md-toolbar class="md-tall md-hue-2" layout="column" layout-align="center center">
                    <h1 class="slab mdc-text-grey-100 text-center" ng-bind-html="map.selectedMarker.NameMobileWeb | trust"></h1>

                    <p ng-bind-html="map.selectedMarker.DescriptionMobileWeb | filter:trust |  filter:linky:'_blank'" class="text-center"></p>
                </md-toolbar>

                <md-content class="md-padding">
                    <div layout="row" flex layout-align="center center">
                        <div flex>
                            <div ng-show='!map.selectedMarker.PHONE_NMBR'>
                                <h1 class="no-margin center-text">
                                    <i class='material-icons kilo mdc-text-grey-400'>&#xE0CD;</i>
                                </h1>

                                <h4 class='no-margin mdc-text-grey-400 center-text'>
                                    No telephone number
                                </h4>
                            </div>

                            <div ng-show='map.selectedMarker.PHONE_NMBR'>
                                <a href='tel:{{ map.selectedMarker.PHONE_NMBR }}' ga-track-event="['click', 'Call - {{ map.selectedMarker.NameMobileWeb }}']">
                                    <h1 class="no-margin center-text">
                                        <i class='material-icons kilo mdc-text-blue-700'>&#xE0CD;</i>
                                    </h1>

                                    <h4 class='no-margin mdc-text-blue-700 center-text'>
                                        {{ map.selectedMarker.PHONE_NMBR }}
                                    </h4>
                                </a>
                            </div>
                        </div> <!-- end flex -->

                        <div flex>
                            <a href='https://www.google.com/maps/dir/Current+Location/{{ map.selectedMarker.LATITUDE }},{{ map.selectedMarker.LONGITUDE}}' target='_blank' ga-track-event="['click', 'Directions - {{ map.selectedMarker.NameMobileWeb }}']">
                                <h1 class="no-margin center-text">
                                    <i class='material-icons kilo mdc-text-blue-700'>&#xE52E;</i>
                                </h1>

                                <h4 class='no-margin mdc-text-blue-700 center-text'>
                                    Directions
                                </h4>
                            </a>
                        </div> <!-- end flex -->
                    </div> <!-- end row flex -->

                    <div layout="row" flex layout-align="start center">
                        <md-list>
                            <md-list-item ng-show="map.selectedMarker.FEE === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Fee" class="material-icons">
    	                            &#xE227;
    	                        </md-icon>

                                <p>Fee</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.PARKING === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Parking" class="material-icons">
    	                            &#xE54F;
    	                        </md-icon>

                                <p>Parking</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.DSABLDACSS === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Disabled Access" class="material-icons">
    	                            &#xE914;
    	                        </md-icon>

                                <p>Disabled Access</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.RESTROOMS === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Restrooms" class="material-icons">
    	                            &#xE63D;
    	                        </md-icon>

                                <p>Restrooms</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.VISTOR_CTR === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Visitor Center" class="material-icons">
    	                            &#xE8D1;
    	                        </md-icon>

                                <p>Visitor Center</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.DOG_FRIENDLY === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Dog Friendly" class="material-icons">
    	                            &#xE91D;
    	                        </md-icon>

                                <p>Dog Friendly</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.EZ4STROLLERS === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Dashboard" class="material-icons">
    	                            dashboard
    	                        </md-icon>

                                <p>Stroller Friendly</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.PCNC_AREA === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Picnic Area" class="material-icons">
    	                            &#xE8CB;
    	                        </md-icon>

                                <p>Picnic Area</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.CAMPGROUND === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Dashboard" class="material-icons">
    	                            dashboard
    	                        </md-icon>

                                <p>Camping</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.SNDY_BEACH === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Dashboard" class="material-icons">
    	                            dashboard
    	                        </md-icon>

                                <p>Sandy Beach</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.DUNES === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Dashboard" class="material-icons">
    	                            dashboard
    	                        </md-icon>

                                <p>Dunes</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.RKY_SHORE === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Dashboard" class="material-icons">
    	                            dashboard
    	                        </md-icon>

                                <p>Rocky Shore</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.BLUFF === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Dashboard" class="material-icons">
    	                            dashboard
    	                        </md-icon>

                                <p>Bluff</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.STRS_BEACH === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Dashboard" class="material-icons">
    	                            dashboard
    	                        </md-icon>

                                <p>Stairs to Beach</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.PTH_BEACH === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Dashboard" class="material-icons">
    	                            dashboard
    	                        </md-icon>

                                <p>Path to Beach</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.BLFTP_TRLS === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Dashboard" class="material-icons">
    	                            dashboard
    	                        </md-icon>

                                <p>Blufftop Trails</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.BLFTP_PRK === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Dashboard" class="material-icons">
    	                            dashboard
    	                        </md-icon>

                                <p>Blufftop Park</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.WLDLFE_VWG === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Dashboard" class="material-icons">
    	                            dashboard
    	                        </md-icon>

                                <p>Wildlife Viewing</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.TIDEPOOL === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Dashboard" class="material-icons">
    	                            dashboard
    	                        </md-icon>

                                <p>Tidepools</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.VOLLEYBALL === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Dashboard" class="material-icons">
    	                            dashboard
    	                        </md-icon>

                                <p>Volleyball</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.FISHING === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Dashboard" class="material-icons">
    	                            dashboard
    	                        </md-icon>

                                <p>Fishing</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.BOATING === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Dashboard" class="material-icons">
    	                            dashboard
    	                        </md-icon>

                                <p>Boating</p>

                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item ng-show="map.selectedMarker.BOATING === 'Yes'" class="mdc-text-grey-blue-700">
                                <md-icon aria-label="Dashboard" class="material-icons">
    	                            dashboard
    	                        </md-icon>

                                <p>Boating</p>

                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </div> <!-- end row flex -->
                </md-content>
            </md-card-content>
        </md-card> <!-- end column flex -->

        <div layout="column" flex="10" layout-align="start center">
            <md-button class="md-fab mdc-text-yellow-600 pull-up-30" aria-label="Eat cake">
                <md-icon class="mdc-text-blue-grey-800">
                    location_searching
                </md-icon>
            </md-button>
        </div> <!-- end flex -->
    </div> <!-- end row flex -->
</md-content>
