
<div class="row overflow-visible">
  <div class="column-12 page-header mdc-bg-light-blue-700">
    <div class="row">
      <a href="#" ng-click="toggleMenu()">
        <i class="fa fa-bars white-text"></i>
      </a>

      <div class="column-4 push-3">
        <img src="images/Coastal-Access-Foot-Logo.png" alt="Coastal Access Logo" id="foot-logo" />
        <h1 class="medium slab"><span class="light">Your</span>Coast</h1>
      </div> <!-- end .column-3 -->
    </div> <!-- end .row -->
  </div> <!-- end .column-12 -->
</div> <!-- end .row -->

<div class="row gutters overflow-visible grey-background">
	<div class="column-3" id="searchAndResults" ng-class="{ menuActive: menuActive === true }">
		<div class="row overflow-visible" id="searchContainer" data-intro="Search for a location to find the nearby Public Access locations" data-position="right">
			<div class="column-10 push-1">
				<input ng-model='search' class='form-control' id='search_address' placeholder='Search' type='text' />
			</div> <!-- end .column-10 -->

			<div class="column-1">
				<a id='search' href='#'>
					<i class='fa fa-search yellow-text'></i>
				</a>
			</div> <!-- end .column-1 -->
		</div> <!-- end .row -->

    <div class="row" data-intro="Search results can be clicked to open any location" data-position="right">
  		<ul class="unstyled-list result-list margin-top">
  			<a ng-repeat="location in map.locationList | orderBy:'LIST_ORDER' | filter:search"
           ng-click="openLocationPanel(location)"
           alt="{{ location.NameMobileWeb }}">
          <li ng-bind-html='location.NameMobileWeb | trust'>
  				</li>
  			</a>
  		</ul>
    </div> <!-- end .row -->
	</div> <!-- end .column-3 -->

	<div class="column-8 pull-over-page-header">
		<div class="card margin-top animated fadeInUp">

				<ui-gmap-google-map options='map.options.custom'
                            events='map.events'
                            center='map.options.center'
                            zoom='map.options.zoom'
                            draggable='true'
                            pan='true'
                            id='map_canvas'
                            ng-class="{ mapFifty: map.selectedMarker.show === true }"
                            class="fix-map-imgs animated">
					<ui-gmap-markers models="map.locations"
                           idkey="'ID'"
                           coords="'coords'"
                           labelVisible="true"
                           labelContent="'NameMobileWeb'"
                           labelClass="marker_labels"
                           doCluster="true"
                           clusterOptions="map.options.cluster"
                           icon="'maps.google.com/mapfiles/kml/paddle/ylw-blank.png'"
                           click="openLocationPanel">
					</ui-gmap-markers>
				</ui-gmap-google-map>

        <div ng-show='map.selectedMarker.show' id='LocationPanel'>
          <div class='row mdc-bg-light-blue-700'>
            <a href='#' ng-click='closeLocationPanel()'>
              <h2 class='yellow-text light no-border no-margin' id="close"><i class='fa fa-close'></i></h2>
            </a>

            <h1 class='slab white-text center-text medium' ng-bind-html='map.selectedMarker.NameMobileWeb | trust'></h1>

            <p class="intro-text white-text center-text" ng-bind-html='(map.selectedMarker.DescriptionMobileWeb | linky:"_blank") + " near " + (map.selectedMarker.LocationMobileWeb)'></p>
          </div> <!-- end .row -->

          <div class="row overflow-visible">
            <div class="column-1 push-11">
              <button class="fab mdc-bg-light-blue-900 pull-up">
                <i class="fa fa-share yellow-text"></i>
              </button>
            </div> <!-- end .column-1 -->
          </div> <!-- end .row -->

          <div class="row gutters card-body">
            <div class="column-12">
              <div class='row gutters'>
                <div class="column-6">
                  <h2 class="slab medium no-border mdc-text-light-blue-700">Amenities</h2>

                  <div class="row" id="amenities">
                    <div class='column-6' ng-show='map.selectedMarker.PHONE_NMBR || map.selectedMarker.Bch_whlchr || map.selectedMarker.FEE || map.selectedMarker.PARKING || map.selectedMarker.DSABLDACSS || map.selectedMarker.RESTROOMS || map.selectedMarker.VISTOR_CTR || map.selectedMarker.PCNC_AREA || map.selectedMarker.CAMPGROUND'>
                      <div class='row gutters' ng-show='map.selectedMarker.PHONE_NMBR'>
                        <div class='column-1'>
                          <i class='fa fa-phone grey-text'></i>
                        </div>

                        <div class='column-10 push-1'>
                          <a ng-href="tel:{{ map.selectedMarker.PHONE_NMBR }}">
                            <p class='no-margin'>
                              {{ map.selectedMarker.PHONE_NMBR }}
                            </p>
                          </a>
                        </div>
                      </div>

                      <div class='row gutters'>
                        <div class='column-1'>
                          <i class='fa fa-car grey-text'></i>
                        </div>

                        <div class='column-10 push-1'>
                          <a href='https://www.google.com/maps/dir/Current+Location/{{ map.selectedMarker.LATITUDE }},{{ map.selectedMarker.LONGITUDE}}' target='_blank'>
                            <p class='no-margin'>
                              Directions
                            </p>
                          </a>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.Bch_whlchr'>
                        <div class='column-1'>
                          <i class='fa fa-wheelchair grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            {{ map.selectedMarker.Bch_whlchr }}
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.FEE === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-money grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Fee
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.PARKING === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-car grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Parking
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.DSABLDACSS === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-wheelchair grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Disabled Access
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.RESTROOMS === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-female grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Restrooms
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.VISTOR_CTR === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-flag grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Visitor Center
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.PCNC_AREA === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-cutlery grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Picnic Area
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.CAMPGROUND === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-tree grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Campground
                          </p>
                        </div>
                      </div>
                    </div> <!-- end .column-6 -->

                    <div class='column-6' ng-show='map.selectedMarker.SNDY_BEACH || map.selectedMarker.SKY_SHORE || map.selectedMarker.DUNES || map.selectedMarker.BLUFF || map.selectedMarker.STRS_BEACH || map.selectedMarker.PTH_BEACH || map.selectedMarker.BLFTP_TRLS || map.selectedMarker.BLFTP_PRK || map.selectedMarker.WLDLFE_VWG || map.selectedMarker.TIDEPOOL || map.selectedMarker.VOLLEYBALL || map.selectedMarker.FISHING || map.selectedMarker.BOATING || map.selectedMarker.DOG_FRIENDLY || map.selectedMarker.EZ4STROLLERS'>
                      <div class='row gutters' ng-show='map.selectedMarker.SNDY_BEACH === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-check grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Sandy Beach
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.SKY_SHORE === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-check grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Rocky Shore
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.DUNES === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-check grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Dunes
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.BLUFF === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-check grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Bluff
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.STRS_BEACH === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-check grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Stairs to Beach
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.PTH_BEACH === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-check grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Path to Beach
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.BLFTP_TRLS === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-check grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Blufftop Trails
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.BLFTP_PRK === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-check grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Blufftop Park
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.WLDLFE_VWG === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-check grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Wildlife Viewing
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.TIDEPOOL === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-check grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Tidepools
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.VOLLEYBALL === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-futbol-o grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Volleyball
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.FISHING === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-check grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Fishing
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.BOATING === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-ship grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Boating
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.DOG_FRIENDLY === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-paw grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Dog Friendly
                          </p>
                        </div>
                      </div>

                      <div class='row gutters' ng-show='map.selectedMarker.EZ4STROLLERS === "Yes"'>
                        <div class='column-1'>
                          <i class='fa fa-child grey-text'></i>
                        </div>
                        <div class='column-10 push-1'>
                          <p class='no-margin'>
                            Stroller Friendly
                          </p>
                        </div>
                      </div>
                    </div> <!-- end .column-6 -->
                  </div> <!-- end .row -->
                </div> <!-- end .column-6 -->

                <div class="column-6">
                  <h2 class="slab medium no-border mdc-text-light-blue-700">Photos</h2>
                  <div class="row gutters">
                    <!-- <div class="column-12" ng-show="!map.selectedMarker.Photo_1">
                      <a href='#' ng-click='' class="row">
                        <div id="pano" style="height: 270px;">

                        </div>
                      </a>
                    </div> -->

                    <div class="column-6 push-3" ng-show="map.selectedMarker.Photo_1 && !map.selectedMarker.Photo_2">
                      <a href='#' ng-click='openPhoto(map.selectedMarker.Photo_1)' class="row" ng-show="map.selectedMarker.Photo_1">
                        <img src='{{ map.selectedMarker.Photo_1 }}' alt='{{ map.selectedMarker.NameMobileWeb }}'/>
                      </a>
                    </div> <!-- end .column-6 -->

                    <div class="row gutters" ng-show="map.selectedMarker.Photo_1 && map.selectedMarker.Photo_2 && !map.selectedMarker.Photo_3">
                      <a href='#' ng-click='openPhoto(map.selectedMarker.Photo_1)' class="column-6">
                        <img src='{{ map.selectedMarker.Photo_1 }}' alt='{{ map.selectedMarker.NameMobileWeb }}'/>
                      </a>

                      <a href='#' ng-click='openPhoto(map.selectedMarker.Photo_2)' class="column-6">
                        <img src='{{ map.selectedMarker.Photo_2 }}' alt='{{ map.selectedMarker.NameMobileWeb }}'/>
                      </a>
                    </div> <!-- end .row -->

                    <div class="row gutters" ng-show="map.selectedMarker.Photo_1 && map.selectedMarker.Photo_2 && map.selectedMarker.Photo_3 && !map.selectedMarker.Photo_4">
                      <a href='#' ng-click='openPhoto(map.selectedMarker.Photo_1)' class="column-4">
                        <img src='{{ map.selectedMarker.Photo_1 }}' alt='{{ map.selectedMarker.NameMobileWeb }}'/>
                      </a>

                      <a href='#' ng-click='openPhoto(map.selectedMarker.Photo_2)' class="column-4">
                        <img src='{{ map.selectedMarker.Photo_2 }}' alt='{{ map.selectedMarker.NameMobileWeb }}'/>
                      </a>

                      <a href='#' ng-click='openPhoto(map.selectedMarker.Photo_3)' class="column-4">
                        <img src='{{ map.selectedMarker.Photo_3 }}' alt='{{ map.selectedMarker.NameMobileWeb }}'/>
                      </a>
                    </div> <!-- end .row -->

                    <div class="row gutters" ng-show="map.selectedMarker.Photo_1 && map.selectedMarker.Photo_2 && map.selectedMarker.Photo_3 && map.selectedMarker.Photo_4">
                      <a href='#' ng-click='openPhoto(map.selectedMarker.Photo_1)' class="column-3">
                        <img src='{{ map.selectedMarker.Photo_1 }}' alt='{{ map.selectedMarker.NameMobileWeb }}'/>
                      </a>

                      <a href='#' ng-click='openPhoto(map.selectedMarker.Photo_2)' class="column-3">
                        <img src='{{ map.selectedMarker.Photo_2 }}' alt='{{ map.selectedMarker.NameMobileWeb }}'/>
                      </a>

                      <a href='#' ng-click='openPhoto(map.selectedMarker.Photo_3)' class="column-3">
                        <img src='{{ map.selectedMarker.Photo_3 }}' alt='{{ map.selectedMarker.NameMobileWeb }}'/>
                      </a>

                      <a href='#' ng-click='openPhoto(map.selectedMarker.Photo_4)' class="column-3">
                        <img src='{{ map.selectedMarker.Photo_4 }}' alt='{{ map.selectedMarker.NameMobileWeb }}'/>
                      </a>
                    </div> <!-- end .row -->

                  </div> <!-- end .row -->
                </div> <!-- end .column-6 -->
              </div> <!-- end .row -->
            </div> <!-- end .column-11 -->
          </div> <!-- end .row -->
        </div> <!-- end #LocationPanel -->

		</div> <!-- end .card -->

    <div class="row gutters" id="footerInfo">
      <div class="column-2">
        <a href="#" ng-click="openFeedback()">
          <h4 class="blue-text medium no-padding center-text pull-up" id="feedback" data-intro="Send us your feedback" data-position="top"><i class="fa fa-bullhorn"></i>  feedback</h4>
        </a>
      </div> <!-- end .column-2 -->

      <div class="column-8">
        <a href="#" id="helpOverlay" ng-click="openHelp()">
          <h4 class="medium blue-text center-text no-padding pull-up"><i class="fa fa-life-ring"></i> help</h4>
        </a>
      </div> <!-- end .column-8 -->

      <div class="column-2">
        <a href="#" ng-click="openAbout()">
          <h4 class="blue-text medium no-padding center-text pull-up" id="feedback" data-intro="Find out more about how this app works &amp; the data that powers it" data-position="top"><i class="fa fa-info"></i>  about</h4>
        </a>
      </div> <!-- end .column-2 -->
    </div> <!-- end .row -->
	</div> <!-- end .column-8 -->

	<div class="column-1" data-intro="Geolocate yourself to find the nearby Public Access locations" data-position="left">
		<button ng-click="geolocate()" id="geolocate" class="fab pull-up yellow animated fadeInUp" type="button"><i class="fa fa-crosshairs"></i></button>
	</div> <!-- end .column-1 -->
</div> <!-- end .row -->
